.wrapper {
  height: 100vh;
}
.login {
  height: min-content;
  /* width: 300px; */
  border-radius: 5px;
  background-color: aliceblue;
  padding: 30px;
}

.p {
  color: rgb(26, 24, 21);
}
.text a {
  list-style: none;
}
.btn {
  border: solid 1px black;
}
