.dash {
  background-color: bisque;
}
.link {
  color: black;
}

.nav {
  cursor: pointer;
}
.text {
  color: black;
  font-size: 1.3rem;
}
.icons {
  color: rgb(25, 28, 28);
  font-size: 1.5rem;
  margin-right: 20px;
}
.avatarImg {
  height: 125px;
  width: 125px;
  border-radius: 1.5rem;
}
.underlineDash {
  height: 04px;
  background-color: rgb(27, 27, 23);
}
.name {
  font-size: 1.3rem;
  color: black;
  font-weight: 600;
}
/* ------ Close Side Nav ------ */
.logoutBtn {
  background-color: rgb(130, 105, 105);
  color: white;
  border-radius: 7px;
}
.iconClose {
  color: rgb(25, 28, 28);
  font-size: 2rem;
  margin-right: 20px;
}
