/* { -- main table - div -- } */
.data-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* { -- data table - div -- } */
.data-table {
  width: 100%;
  border-collapse: collapse;
}
/* { -- header titles - table -- } */
.header-table {
  background-color: rgb(122, 129, 122);
  padding: 10px;
  text-align: left;
  border: 3px solid #131010;
}
.header-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
/* { -- all data - table -- } */
.tableBody {
  border: 3px solid rgb(102, 107, 102);
}
.tableBody td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* { -- Delete and Update BUTTONS -- } */
.btn_Upd_dlt {
  padding: 5px 10px;
  margin-right: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
